html,body{
  height: 100%;
  width: 100%;
  place-items: center;
  font-family:Verdana;
  background: linear-gradient(113.96deg, rgba(63, 215, 215, 0.23) 0%, rgba(252, 159, 204, 0.99) 100%);
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#516166 ;
  color: white;
  text-align: center;
  width: 10%;
}

.title{
  text-align: center;
}

table, td, th {
  border: 1px solid black;
  text-align: center;
}
  
table {
  border-collapse: collapse;
  width: 100%;
}

.wrapper{
  overflow:hidden;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  top:20%;
  left:10%;
  position: absolute;
  height: auto;
  width: 80%;
  /* height120px;width:120px;border:1px solid #ccc;overflow:auto; */
}
